In [1]:
import pandas as pd
import re

In [2]:
dataf=pd.read_json("movies-data.json")

In [3]:
dataf.head(10)

,movie_name,movie_year,movie_directors_cast,movie_time,movie_tags,movie_stars,movie_score,movie_dis,movie_votes,movie_total
0,[Pulp Fiction],[(1994)],"[Quentin Tarantino, John Travolta, Uma Thurman...",[154 min],"[\nCrime, Drama ]",[8.9],[94 ],"[\nThe lives of two mob hitmen, a boxer, a gan...","[1,871,051]",[$107.93M]
1,[The Amazing Spider-Man 2],[(2014)],"[Marc Webb, Andrew Garfield, Emma Stone, Jamie...",[142 min],"[\nAction, Adventure, Fantasy ]",[6.6],[53 ],"[\nWhen New York is put under siege by Oscorp,...","[425,529]",[$202.85M]
2,[The Shawshank Redemption],[(1994)],"[Frank Darabont, Tim Robbins, Morgan Freeman, ...",[142 min],[\nDrama ],[9.3],[80 ],[\nTwo imprisoned men bond over a number of ye...,"[2,409,436]",[$28.34M]
3,[Star Wars: Episode IV - A New Hope],[(1977)],"[George Lucas, Mark Hamill, Harrison Ford, Car...",[121 min],"[\nAction, Adventure, Fantasy ]",[8.6],[90 ],[\nLuke Skywalker joins forces with a Jedi Kni...,"[1,255,464]",[$322.74M]
4,[Back to the Future],[(1985)],"[Robert Zemeckis, Michael J. Fox, Christopher ...",[116 min],"[\nAdventure, Comedy, Sci-Fi ]",[8.5],[87 ],"[\nMarty McFly, a 17-year-old high school stud...","[1,087,878]",[$210.61M]
5,[The Breakfast Club],[(1985)],"[John Hughes, Emilio Estevez, Judd Nelson, Mol...",[97 min],"[\nComedy, Drama ]",[7.8],[66 ],[\nFive high school students meet in Saturday ...,"[365,289]",[$45.88M]
6,[The Goonies],[(1985)],"[Richard Donner, Sean Astin, Josh Brolin, Jeff...",[114 min],"[\nAdventure, Comedy, Family ]",[7.8],[62 ],[\nA group of young misfits called The Goonies...,"[250,256]",[$61.50M]
7,[The Silence of the Lambs],[(1991)],"[Jonathan Demme, Jodie Foster, Anthony Hopkins...",[118 min],"[\nCrime, Drama, Thriller ]",[8.6],[85 ],[\nA young F.B.I. cadet must receive the help ...,"[1,304,690]",[$130.74M]
8,[Jurassic Park],[(1993)],"[Steven Spielberg, Sam Neill, Laura Dern, Jeff...",[127 min],"[\nAction, Adventure, Sci-Fi ]",[8.1],[68 ],[\nA pragmatic paleontologist visiting an almo...,"[889,483]",[$402.45M]
9,[The Lion King],[(1994)],"[Roger Allers, Rob Minkoff, Matthew Broderick,...",[88 min],"[\nAnimation, Adventure, Drama ]",[8.5],[88 ],[\nLion prince Simba and his father are target...,"[965,666]",[$422.78M]

In [4]:
dataf.tail(10)

,movie_name,movie_year,movie_directors_cast,movie_time,movie_tags,movie_stars,movie_score,movie_dis,movie_votes,movie_total
9927,[By the Sea],[(2015)],"[Angelina Jolie, Brad Pitt, Angelina Jolie, Mé...",[122 min],"[\nDrama, Romance ]",[5.3],[44 ],[\nA couple tries to repair their marriage whi...,"[19,371]",[$0.53M]
9928,[Allied],[(2016)],"[Robert Zemeckis, Brad Pitt, Marion Cotillard,...",[124 min],"[\nAction, Drama, Romance ]",[7.1],[60 ],"[\nIn 1942, a Canadian intelligence officer in...","[145,758]",[$40.10M]
9929,[Americanah],[(2021– )],"[Lupita Nyong'o, Tireni Oyenusi, Uzo Aduba, Co...",[],"[\nDrama, Romance ]",[],[],[],[],[]
9930,[Mojave],[(2015)],"[William Monahan, Oscar Isaac, Garrett Hedlund...",[93 min],"[\nDrama, Thriller ]",[5.2],[41 ],"[\nA suicidal artist goes into the desert, whe...","[4,534]",[]
9931,[The Sea of Trees],[(2015)],"[Gus Van Sant, Matthew McConaughey, Naomi Watt...",[110 min],"[\nDrama, Fantasy, Mystery ]",[6.1],[23 ],[\nA suicidal American befriends a Japanese ma...,"[14,454]",[$0.02M]
9932,[Cell],[(I) (2016)],"[Tod Williams, John Cusack, Samuel L. Jackson,...",[98 min],"[\nAction, Adventure, Horror ]",[4.4],[38 ],[\nWhen a mysterious cell phone signal causes ...,"[26,188]",[]
9933,[Gerald's Game],[(2017)],"[Mike Flanagan, Carla Gugino, Bruce Greenwood,...",[103 min],"[\nDrama, Horror, Thriller ]",[6.5],[77 ],[\nA couple tries to spice up their marriage i...,"[94,100]",[]
9934,[Lisey's Story],[(2021)],"[Julianne Moore, Clive Owen, Jennifer Jason Le...",[],"[\nDrama, Horror, Mystery ]",[6],[],[],"[1,251]",[]
9935,[John Wick: Chapter 2],[(2017)],"[Chad Stahelski, Keanu Reeves, Riccardo Scamar...",[122 min],"[\nAction, Crime, Thriller ]",[7.5],[75 ],[\nAfter returning to the criminal underworld ...,"[381,938]",[$92.03M]
9936,[The Company Man],[(I)],[],[],[\nDrama ],[],[],[],[],[]

In [5]:

dataf["Name"]=[re.sub(r'\[','',str(movie)) for movie in dataf.movie_name]
dataf["Name"]=[re.sub(r'\]','',str(movie)) for movie in dataf.Name]
dataf["Name"]=[re.sub("""['"]+""",'',str(movie)) for movie in dataf.Name]

In [6]:
dataf.Name

0                             Pulp Fiction
1                 The Amazing Spider-Man 2
2                 The Shawshank Redemption
3       Star Wars: Episode IV - A New Hope
4                       Back to the Future
                       ...
9932                                  Cell
9933                          Geralds Game
9934                          Liseys Story
9935                  John Wick: Chapter 2
9936                       The Company Man
Name: Name, Length: 9937, dtype: object

In [7]:

dataf["Year"]=[re.sub(r"[\([{})\]]",'',str(year)) for year in dataf.movie_year]
dataf["Year"]=[re.sub("""['"]+""",'',str(year)) for year in dataf.Year]
dataf["Year"]=[re.sub(r"[A-Z\s]+",'',str(year)) for year in dataf.Year]

In [8]:
dataf["Year"]

0       1994
1       2014
2       1994
3       1977
4       1985
        ...
9932    2016
9933    2017
9934    2021
9935    2017
9936
Name: Year, Length: 9937, dtype: object

In [9]:

dataf["Stars"]=[re.sub(r"[\([{})\]]",'',str(stars)) for stars in dataf.movie_stars]
dataf["Stars"]=[re.sub("""['"]+""",'',str(stars)) for stars in dataf.Stars]
dataf["Score"]=[re.sub(r"[\([{})\]]",'',str(score)) for score in dataf.movie_score]
dataf["Score"]=[re.sub("""['"]+""",'',str(score)) for score in dataf.Score]

In [10]:
dataf.Stars

0       8.9
1       6.6
2       9.3
3       8.6
4       8.5
       ...
9932    4.4
9933    6.5
9934      6
9935    7.5
9936
Name: Stars, Length: 9937, dtype: object

In [11]:
dataf.Score

0       94
1       53
2       80
3       90
4       87
           ...
9932    38
9933    77
9934
9935    75
9936
Name: Score, Length: 9937, dtype: object

In [12]:

dataf["Time"]=[re.sub(r"[\([{})\]]",'',str(time)) for time in dataf.movie_time]
dataf["Time"]=[re.sub("""['"]+""",'',str(time)) for time in dataf.Time]
dataf["Time"]=[re.sub(r"min",'',str(time)) for time in dataf.Time]
dataf["Votes"]=[re.sub(r"[\([{})\]]",'',str(votes)) for votes in dataf.movie_votes]
dataf["Votes"]=[re.sub("""['"]+""",'',str(votes)) for votes in dataf.Votes]
dataf["Total"]=[re.sub(r"[\([{})\]]",'',str(total)) for total in dataf.movie_total]
dataf["Total"]=[re.sub("""['"]+""",'',str(total)) for total in dataf.Total]
dataf["Total"]=[re.sub(r"$",'',str(total)) for total in dataf.Total]
dataf["Total"]=[re.sub(r"M",'',str(total)) for total in dataf.Total]
dataf["Tags"]=[re.sub(r"[\([{})\]]",'',str(tags)) for tags in dataf.movie_tags]
dataf["Tags"]=[re.sub("""['"]+""",'',str(tags)) for tags in dataf.Tags]
dataf["Tags"]=[re.sub(r"[,]",'',str(tags)) for tags in dataf.Tags]
dataf["Tags"]=[re.sub(r"\n",'',str(tags)) for tags in dataf.Tags]

In [13]:
dataf.Total

0       $107.93
1       $202.85
2        $28.34
3       $322.74
4       $210.61
         ...
9932
9933
9934
9935     $92.03
9936
Name: Total, Length: 9937, dtype: object

In [14]:

dataf["Directors_Cast"]=[re.sub(r"[\([{})\]]",'',str(names)) for names in dataf.movie_directors_cast]
dataf["Directors_Cast"]=[re.sub(r"[,]",'',str(names)) for names in dataf.Directors_Cast]
dataf["Directors_Cast"]=[re.sub("""['"]+""",'',str(names)) for names in dataf.Directors_Cast]

In [15]:
dataf.Directors_Cast

0       Quentin Tarantino John Travolta Uma Thurman Sa...
1       Marc Webb Andrew Garfield Emma Stone Jamie Fox...
2       Frank Darabont Tim Robbins Morgan Freeman Bob ...
3       George Lucas Mark Hamill Harrison Ford Carrie ...
4       Robert Zemeckis Michael J. Fox Christopher Llo...
                              ...
9932    Tod Williams John Cusack Samuel L. Jackson Isa...
9933    Mike Flanagan Carla Gugino Bruce Greenwood Chi...
9934    Julianne Moore Clive Owen Jennifer Jason Leigh...
9935    Chad Stahelski Keanu Reeves Riccardo Scamarcio...
9936
Name: Directors_Cast, Length: 9937, dtype: object

In [16]:

dataf["Discription"]=[re.sub(r"[\([{})\]]",'',str(dis)) for dis in dataf.movie_dis]
dataf["Discription"]=[re.sub(r"[,]",'',str(dis)) for dis in dataf.Discription]
dataf["Discription"]=[re.sub("""['"]+""",'',str(dis)) for dis in dataf.Discription]
dataf["Discription"]=[re.sub("/\r?\n|\r/g",'',str(dis)) for dis in dataf.Discription]

In [17]:
dataf.Discription

0       \nThe lives of two mob hitmen a boxer a gangst...
1       \nWhen New York is put under siege by Oscorp i...
2       \nTwo imprisoned men bond over a number of yea...
3       \nLuke Skywalker joins forces with a Jedi Knig...
4       \nMarty McFly a 17-year-old high school studen...
                              ...
9932    \nWhen a mysterious cell phone signal causes a...
9933    \nA couple tries to spice up their marriage in...
9934
9935    \nAfter returning to the criminal underworld t...
9936
Name: Discription, Length: 9937, dtype: object

In [18]:

dataf.drop("movie_name",axis=1,inplace=True)
dataf.drop("movie_year",axis=1,inplace=True)
dataf.drop("movie_score",axis=1,inplace=True)
dataf.drop("movie_stars",axis=1,inplace=True)
dataf.drop("movie_time",axis=1,inplace=True)
dataf.drop("movie_dis",axis=1,inplace=True)
dataf.drop("movie_votes",axis=1,inplace=True)
dataf.drop("movie_total",axis=1,inplace=True)

In [19]:
dataf.columns

Index(['movie_directors_cast', 'movie_tags', 'Name', 'Year', 'Stars', 'Score',
       'Time', 'Votes', 'Total', 'Tags', 'Directors_Cast', 'Discription'],
      dtype='object')

In [20]:
dataf.drop("movie_tags",axis=1,inplace=True)
dataf.drop("movie_directors_cast",axis=1,inplace=True)

In [21]:
dataf.columns

Index(['Name', 'Year', 'Stars', 'Score', 'Time', 'Votes', 'Total', 'Tags',
       'Directors_Cast', 'Discription'],
      dtype='object')

In [22]:
dataf.head()

,Name,Year,Stars,Score,Time,Votes,Total,Tags,Directors_Cast,Discription
0,Pulp Fiction,1994,8.9,94,154,"1,871,051",$107.93,\nCrime Drama,Quentin Tarantino John Travolta Uma Thurman Sa...,\nThe lives of two mob hitmen a boxer a gangst...
1,The Amazing Spider-Man 2,2014,6.6,53,142,"425,529",$202.85,\nAction Adventure Fantasy,Marc Webb Andrew Garfield Emma Stone Jamie Fox...,\nWhen New York is put under siege by Oscorp i...
2,The Shawshank Redemption,1994,9.3,80,142,"2,409,436",$28.34,\nDrama,Frank Darabont Tim Robbins Morgan Freeman Bob ...,\nTwo imprisoned men bond over a number of yea...
3,Star Wars: Episode IV - A New Hope,1977,8.6,90,121,"1,255,464",$322.74,\nAction Adventure Fantasy,George Lucas Mark Hamill Harrison Ford Carrie ...,\nLuke Skywalker joins forces with a Jedi Knig...
4,Back to the Future,1985,8.5,87,116,"1,087,878",$210.61,\nAdventure Comedy Sci-Fi,Robert Zemeckis Michael J. Fox Christopher Llo...,\nMarty McFly a 17-year-old high school studen...

In [23]:
dataf.to_csv("data.csv",index=False)

In [24]:
clean_data=pd.read_csv("data.csv")

In [25]:
clean_data.head()

,Name,Year,Stars,Score,Time,Votes,Total,Tags,Directors_Cast,Discription
0,Pulp Fiction,1994,8.9,94.0,154,"1,871,051",$107.93,\nCrime Drama,Quentin Tarantino John Travolta Uma Thurman Sa...,\nThe lives of two mob hitmen a boxer a gangst...
1,The Amazing Spider-Man 2,2014,6.6,53.0,142,"425,529",$202.85,\nAction Adventure Fantasy,Marc Webb Andrew Garfield Emma Stone Jamie Fox...,\nWhen New York is put under siege by Oscorp i...
2,The Shawshank Redemption,1994,9.3,80.0,142,"2,409,436",$28.34,\nDrama,Frank Darabont Tim Robbins Morgan Freeman Bob ...,\nTwo imprisoned men bond over a number of yea...
3,Star Wars: Episode IV - A New Hope,1977,8.6,90.0,121,"1,255,464",$322.74,\nAction Adventure Fantasy,George Lucas Mark Hamill Harrison Ford Carrie ...,\nLuke Skywalker joins forces with a Jedi Knig...
4,Back to the Future,1985,8.5,87.0,116,"1,087,878",$210.61,\nAdventure Comedy Sci-Fi,Robert Zemeckis Michael J. Fox Christopher Llo...,\nMarty McFly a 17-year-old high school studen...